server {
    listen {{ lighthouse_nginx_port }};

    root {{ lighthouse_dir }};
    index index.html;

    # ========================================================
    # Раздача статических файлов Lighthouse
    # ========================================================

    location / {
        try_files $uri $uri/ =404;
    }

    # ========================================================
    # Proxy к ClickHouse
    # ========================================================

    location /clickhouse {
        proxy_pass http://{{ lighthouse_clickhouse_host }}:{{ lighthouse_clickhouse_port }};

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
